.project-task-card {
  flex: 1;
  display: flex;
  align-items: center;
  gap: 0.4em;
  border-image: linear-gradient(to right, transparent, rgba(var(--pri-clr), 1), transparent) 0 0 1 0 / 0.1em;
}

.project-task-card > .icon {
  flex: 1;
  background-color: rgba(var(--complete-clr), 1);
  border-radius: 0.4em;
  color: rgba(var(--contrast-clr), 1);
}

.project-task-card > .icon:hover svg {
  background-color: transparent;
  color: rgba(var(--text-clr), 1);
}

.task-name-display {
  flex: 4;
  flex-shrink: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(var(--acc-clr), 0.25);
  border-radius: 0.4em;
  padding-block: 0.4em;
  height: fit-content;
}

.relate-task-to-container {
  flex: 4;
  flex-shrink: 0;
  display: flex;
  align-items: center;
  gap: 0.4em;
}

.task-controls {
  flex: 1;
  display: flex;
  align-items: center;
}

.task-controls .icon {
  flex: 1;
  color: rgba(var(--contrast-clr), 1);
}

.task-controls .icon:nth-child(1) svg
{
  background-color: rgba(var(--not-started-clr), 1);
}

.task-controls .icon:nth-child(2) svg
{
  background-color: rgba(var(--pri-clr), 1);
}

