@import url('./project-viewport-header.css');
@import url('./project-viewport-viewport.css');
@import url('./project-viewport-controls.css');
@import url('./project-task-card.css');

.project-viewport {
  grid-column: 3 / 8;
  grid-row: 1 / -1;

  display: flex;
  flex-direction: column;
}