.calendar-header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  grid-column: 1 / span 5;
  grid-row: 1 / span 1;
}

.calendar-header h2 {
  flex: 4;
}

.header-date {
  flex: 1;
}