@keyframes moveInCircle {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes moveVertical {
  0% {
    transform: translateY(-50%);
  }
  50% {
    transform: translateY(0%);
  }
  100% {
    transform: translateY(50%);
  }
}

@keyframes moveHorizontal {
  0% {
    transform: translateX(-50%) translateY(-10%);
  }
  50% {
    transform: translateX(0%) translateY(0%);
  }
  100% {
    transform: translateX(50%) translateY(10%);
  }
}

.gradient-bg {
  position: absolute;
  inset: 0;
  margin: auto;
  overflow: hidden;

  width: 100%;
  height: 100%;
  background: linear-gradient(45deg, rgba(var(--pri-clr), 1), rgba(var(--sec-clr), 1));
  z-index: 1;
}

.gradient-container {
  width: 100%;
  height: 100%;
  filter: url(#effect) blur(5px);
}

.gradient-bg > svg {
  display: none;
}

.complex-g1,
.complex-g2,
.complex-g3,
.complex-g4,
.complex-g5 {
  position: absolute;
  width: var(--circle-size);
  height: var(--circle-size);
  mix-blend-mode: var(--blending);

  opacity: 1;
}

.complex-g1 {
  background: radial-gradient(circle at center, rgba(var(--ex-clr-1), 0.8) 0, rgba(var(--ex-clr-1), 0) 50%);
  top: calc(50% - var(--circle-size) / 2);
  left: calc(50% - var(--circle-size) / 2);

  transform-origin: center center;
  animation: moveVertical 30s ease infinite alternate-reverse;
}

.complex-g2 {
  background: radial-gradient(circle at center, rgba(var(--ex-clr-2), 0.8) 0, rgba(var(--ex-clr-2), 0) 50%);
  top: calc(50% - var(--circle-size) / 2 + 25%);
  left: calc(50% - var(--circle-size) / 2 + 25%);
  transform-origin: calc(50% - 25%);
  animation: moveInCircle 30s ease infinite alternate;
}

.complex-g3 {
  background: radial-gradient(circle at center, rgba(var(--ex-clr-3), 0.8) 0, rgba(var(--ex-clr-3), 0) 50%);
  top: calc(50% - var(--circle-size) / 2 - 25%);
  left: calc(50% - var(--circle-size) / 2 - 25%);
  transform-origin: calc(50% - 25%);
  animation: moveInCircle 40s ease infinite alternate-reverse;
}

.complex-g4 {
  background: radial-gradient(circle at center, rgba(var(--ex-clr-4), 0.8) 0, rgba(var(--ex-clr-4), 0) 50%);
  top: calc(50% - var(--circle-size) / 2 + 25%);
  left: calc(50% - var(--circle-size) / 2 - 25%);
  transform-origin: calc(50% - 25%);
  animation: moveHorizontal 30s ease infinite alternate;
}

.complex-g5 {
  background: radial-gradient(circle at center, rgba(var(--ex-clr-5), 0.8) 0, rgba(var(--ex-clr-5), 0) 50%);
  top: calc(50% - var(--circle-size) / 2 - 25%);
  left: calc(50% - var(--circle-size) / 2 + 25%);
  transform-origin: calc(50% - 25%);
  animation: moveInCircle 20s ease infinite alternate-reverse;
}

.interactive {
  position: absolute;
  background: radial-gradient(circle at center, rgba(var(--acc-clr), 0.8) 0, rgba(var(--acc-clr), 0) 50%);
  mix-blend-mode: var(--blending);

  width: 100%;
  height: 100%;
  top: -50%;
  left: -50%;
  opacity: 0.7;
  transition: none;
}