@import url('./select-project-header.css');
@import url('./select-project-viewport.css');
@import url('./select-project-card.css');
@import url('./select-component-card.css');

.select-project {
  grid-column: 1 / 3;
  grid-row: 1 / -1;
  background-color: rgba(var(--constrast-clr), 1);
  display: flex;
  flex-direction: column;
  border-top-left-radius: 0.8em;
  border-bottom-left-radius: 0.8em;
  border-right: 1px rgba(215, 215, 215) solid;
}