
.task-display-grouping-card {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: start;
  min-width: 30em;
  min-height: 40em;
  background-color: rgba(var(--light-contrast-clr), 1);
  padding: var(--medium-padding);
  border-radius: var(--medium-padding);
  overflow: hidden;
  gap: var(--medium-padding);
}

.task-grouping-card-header {
  flex: 0 1 fit-content;
  display: flex;
  justify-content: start;
  align-items: center;
  padding: var(--medium-padding);
  font-size: var(--medium-font);
  background-color: rgba(var(--contrast-clr), 1);
  border-radius: var(--small-padding);
  border: 1px solid transparent;
}

.task-grouping-card-header.green {
  color: rgba(var(--complete-clr), 1);
}

.task-grouping-card-header.yellow {
  color: rgba(var(--pending-clr), 1);
}

.task-grouping-card-header.red {
  color: rgba(var(--not-started-clr), 1);
}

.task-grouping-card-header.deep-red {
  color: rgba(var(--not-started-clr), 1);
  font-family: 'latobold';
  border: 1px solid rgba(var(--not-started-clr), 1);
}

.task-grouping-card-task-display-wrapper {
  flex: 0 1 auto;
  display: flex;
  overflow: hidden;
}

.task-grouping-card-task-display {
  flex: 1;
  overflow-y: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  align-items: start;
  gap: var(--medium-padding);
}

.task-grouping-card-task-display.empty {
  flex: 0;
  overflow: hidden;
}

.task-groupings-card-footer {
  flex: 0 1 5em;
}