#navigation {
  height: 100%;
  z-index: 1;
  grid-row: 1;

  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-menu {
  height: 100%;
  display: grid;
  grid-template-rows: repeat(10, 1fr);
  padding: 24px 0;
}

.nav-menu-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;
  color: rgba(var(--contrast-clr), 1);
  font-size: clamp(0.4rem, 0.5vw + 0.25rem, 0.8rem);
}

.nav-menu-card .icon p {
  color: rgba(var(--contrast-clr), 1);
}

.nav-menu li:last-child {
  grid-row: -1;
}

#nav-menu-picture.tooltip {
  position: relative;
}

#nav-menu-picture.tooltip::after {
  height: 33px;
  padding: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  background-color: rgba(var(--text-clr), 1);
  color: rgba(var(--contrast-clr), 1);
  position: absolute;
  left: calc(100% + 8px);
  top: 50%;
  transform: translateY(-50%);
  content: attr(data-tooltip);
  z-index: 1;
  white-space: nowrap;
}

.nav-menu-card .icon:hover svg {
  background-color: rgba(var(--contrast-clr), 0.25);
}

.nav-menu-card.icon-active .icon svg {
  background-color: rgba(var(--contrast-clr), 0.75);
  color: rgba(var(--text-clr), 1);
}