.sort-by-controls {
  grid-row: 2 / 3;
  grid-column: 5 / -1;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 0.75em;
}

.sort-by-controls-header {
  flex: 1;
  user-select: none;
}

#sort-by-controls-menu {
  flex: 3;
}