button.selected {
  background-color: rgba(var(--pri-clr), 1);
  box-shadow: inset 0 0 8px 4px rgba(var(--contrast-clr), 0.5);
  border: solid 2px rgba(var(--acc-clr), 1);
  transition: background-color 300ms ease, box-shadow, 300ms ease, border 300ms ease;
}

button:disabled {
  cursor: not-allowed;
  pointer-events: none;
  filter: brightness(0.2);
}

.select-section {
  display: flex;
  align-items: center;
  gap: 24px;
}

.icon {
  font-size: var(--regular-font);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.8em;
  transition: transform 300ms ease;
}

.icon p {
  font-size: var(--extra-small-font);
  transition: transform 300ms ease;
  color: rgba(var(--text-clr), 1);
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon svg {
  font-size: var(--regular-font);
  transition: transform 300ms ease, background-color 300ms ease, color 300ms ease;
  pointer-events: none;
  border-radius: 0.4em;
  padding: 0.8em;
}

.checkbox {
  display: flex;
  justify-content: center;
  align-items: center;
}

.checkbox input {
  opacity: 0;
  position: absolute;
}

.custom-checkmark {
  position: relative;
  width: 12px;
  height: 12px;
  border-radius: 999px;
  cursor: pointer;
  background-color: rgba(var(--contrast-clr), 1);
  display: inline-block;
  z-index: 0;
}

.checkbox input:checked + .custom-checkmark::after {
  content: '';
  position: absolute;
  background: radial-gradient(
    50% 50%,
    rgba(var(--acc-clr), 0.75),
    rgba(var(--acc-clr), 0)
  );
  width: 12px;
  height: 12px;
  border-radius: 999px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.date-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.profile-picture {
  width: 100%;
  aspect-ratio: 1/1;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 0.5em;
}

.form-modal {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(var(--text-clr), 0.5);
  backdrop-filter: blur(4px);
  z-index: 1;
  border-radius: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-body {
  background: linear-gradient(
    to top right,
    rgba(var(--acc-clr, 1)),
    rgba(var(--sec-clr), 1)
  );
  box-shadow: 0 0 8px rgba(var(--text-clr), 0.5);
  border-radius: 16px;
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(10, 1fr);
  height: 60%;
  width: 60%;
  padding: 1em;
  row-gap: 0.75em;
  column-gap: 1em;
}

.form-header {
  grid-column: 1 / -1;
  grid-row: 1 span 1;
  color: rgba(var(--contrast-clr), 1);
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-body button {
  grid-column: 1 / span 10;
  grid-row: 9 / span 2;
}