@import url('./css-reset.css');
@import url('../assets/fonts/lato-font-kit/stylesheet.css');
@import url('../../dashboard/shared/styles/dashboard.css');
@import url('../../signIn/shared/styles/sign-in.css');

:root {
  --pri-clr: 13, 183, 219;
  --sec-clr: 233, 85, 185;
  --acc-clr: 75, 153, 185;
  --contrast-clr: 252, 252, 252;
  --light-contrast-clr: 210, 210, 210;
  --dark-contrast-clr: 168, 168, 168;
  --light-text-clr: 126, 126, 126;
  --text-clr: 84, 84, 84;
  --dark-text-clr: 42, 42, 42;
  --not-started-clr: 222, 73, 115;
  --dark-not-started-clr: 80, 23, 65;
  --pending-clr: 235, 173, 80;
  --dark-pending-clr: 185, 133, 40;
  --complete-clr: 147, 235, 96;
  --dark-complete-clr: 112, 200, 46;
  --extra-large-font: clamp(2em, 1.5vw + 2em, 4em);
  --large-font: clamp(1.6em, 0.75dvw + 1.6em, 2.4em);
  --medium-font: clamp(1.2em, 0.5dvw + 1.2em, 1.6em);
  --regular-font: clamp(0.8em, 0.5dvw + 0.5em, 1.2em);
  --small-font: clamp(0.6em, 0.5dvw + 0.33em, 1em);
  --extra-small-font: clamp(0.5em, 0.4dvw + 0.25em, 0.8em);
  --large-padding: 1.6em;
  --medium-padding: 0.8em;
  --small-padding: 0.4em;
}

::-webkit-scrollbar {
  width: 0.8em;
}

::-webkit-scrollbar-track {
  background-color: rgba(var(--contrast-clr), 0.5);
}

::-webkit-scrollbar-thumb {
  background-color: rgba(var(--text-clr), 1);
  transition: all 300ms ease;
  border-radius: 999px;
  width: 0.2em;
}

h1 {
  font-family: 'latobold', sans-serif;
  font-size: var(--extra-large-font);
  font-weight: 800;
  letter-spacing: clamp(0.2em, 0.2em + 0.2vw , 0.4em);
  color: rgba(var(--text-clr), 1);
  text-transform: uppercase;
}

h2 {
  font-family: 'latobold', sans-serif;
  font-size: var(--large-font);
  letter-spacing: clamp(0.05em, 0.05em + 0.15vw , 0.2em);
  font-weight: 700;
  color: rgba(var(--text-clr), 1);
}

h3 {
  font-family: 'latoregular', sans-serif;
  font-size: var(--medium-font);
  letter-spacing: clamp(0.05em, 0.05em + 0.15vw , 0.2em);
  color: rgba(var(--text-clr), 1);
}

h4 {
  font-family: 'latoregular', sans-serif;
  font-size: clamp(1em, 0.5vw + 1.2em, 1.6em);
  letter-spacing: clamp(0.05em, 0.05em + 0.1vw , 0.2em);
  color: rgba(var(--text-clr), 1);
}

.section-header {
  position: relative;
  padding-bottom: 1.6rem;
  width: 100%;
  display: flex;
}

body,
p,
label,
input,
select,
textarea {
  font-family: 'latoregular', sans-serif;
  font-size: var(--regular-font);
  font-weight: 400;
  line-height: 1.6;
  color: rgba(var(--text-clr), 1);
  background-color: transparent;
}

input,
select,
textarea {
  padding: 0.4em;
  outline: none;
  border: none;
}

button {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'latobold', sans-serif;
  font-size: var(--small-font);
  color: rgba(var(--contrast-clr), 1);
  background-color: rgba(var(--sec-clr), 1);
  border: none;
  border-radius: 0.4em;
  cursor: pointer;
  transition: all 300ms ease;
  box-shadow: 0 0.4em 0.8em rgba(var(--text-clr), 0.25);
  white-space: nowrap;
}

.error {
  border: 1px solid rgba(var(--not-started-clr), 1);
}

.card {
  display: flex;
  flex: 1;
  background-color: rgba(var(--contrast-clr), 1);
  border-radius: var(--small-padding);
  font-size: var(--regular-font);
}
