@import url('./navigation.css');

#dashboard {
  background: linear-gradient(
    135deg,
    rgba(var(--pri-clr), 1) 0%,
    rgba(var(--sec-clr), 1) 50%,
    rgba(var(--acc-clr), 1) 100%
  );
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 0;
  overflow: hidden;
  padding-top: 2.4em;
  padding-bottom: var(--medium-padding);
  padding-right: var(--large-padding);
  display: grid;
  grid-template-columns: minmax(15em, 15%) 1fr;
  grid-template-rows: 1fr;
}

#data-viewport {
  height: 100%;
  width: 100%;
  background-color: rgba(var(--contrast-clr), 1);
  border-radius: var(--medium-padding);
  position: relative;
}
