.thought-bubble-controls {
  grid-column: 1 / -1;
  grid-row: 3 / -1;
  background-color: rgba(var(--contrast-clr), 1);
  border-radius: 0.8em;
  border: 0.2em solid rgba(215 215 215);

  display: flex;
  flex-direction: column;
  padding: 0.8em;
}

.thought-bubble-text-input {
  flex: 4;
  padding: 0.4em;
  resize: none;
  border-radius: 0.4em;
  border: 1px solid rgba(215 215 215);
}

.thought-bubble-buttons-wrapper {
  flex: 1;
  display: flex;
  justify-content: space-between;
  padding: 0.4em;
}

.add-thought-button {
  border-radius: 0.4em;
  border: 1px solid rgba(215 215 215);
  transition: background-color 300ms ease;
}

.add-thought-button:hover {
  background-color: rgba(215 215 215);
}

.thought-bubble-filter-button {
  flex: 1;

  display: flex;
  justify-content: start;
  align-items: center;
  gap: 1.6em;
}

.slider-body {
  height: 1.5em;
  width: 3em;
  border-radius: 999px;
  border: 1px solid rgba(var(--text-clr), 1);
  position: relative;
  background-color: rgba(var(--contrast-clr), 1);
}

.slider-button {
  height: calc(100% - 0.4em);
  aspect-ratio: 1/1;
  border-radius: 999px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0.2em;
  background-color: rgba(var(--text-clr), 1);
  transition: transform 300ms ease, background-color 300ms ease;
}

.thought-bubble-filter-button.filter-active .slider-body {
  background-color: rgba(var(--text-clr), 1);
}

.thought-bubble-filter-button.filter-active .slider-button {
  transform: translate(calc(100% + 0.75em - 0.2em), -50%);
  background-color: rgba(var(--contrast-clr), 1);
}
